on:
  push:
    branches:
      - master
  pull_request:
name: build and test
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:1.4.9
        ports:
          - 9010:9010
          - 9020:9020
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.20'
      - run: go version
      - run: make setup-emulator
      - name: make test with Cloud Spanner Emulator
        run: make test
